# Basic code operation

In [11]:
print (1/2)
print (1/5)

age = 100
print(age)

0.5
0.2
100

In [6]:
print (type (age)) #age is an integer

<class 'int'>

In [7]:
type(age)

int

In [8]:
1/2

0.5

In [9]:
x = 5
print (x)
print(type(x))

5
<class 'int'>

In [4]:
firstname = 'Linda'

In [11]:
print(type(firstname)) ##'' returns as a string

<class 'str'>

In [5]:
print(firstname, 'is', age, 'years old')

Linda is 100 years old

In [12]:
print(x, 'is a float')

5 is a float

In [1]:
?print

In [21]:
age = 100
age = age + 3

In [22]:
age +=3
print(age)

106

In [24]:
element = 'Helium'
print(element)

Helium

In [27]:
print(element[1]) #read as a string; second letter in the string
print(element[0:3]) # Python does not count the last one == "up to" last one, print from position 0 to 2

e
Hel

In [28]:
print(firstname)

Linda

In [29]:
name_1 = 'Alex'
print(name_1)

Alex

In [30]:
del name_1  #delete a variable

In [31]:
print(name_1) #the variable name_1 should be deleted

NameError: name 'name_1' is not defined

In [34]:
print(type(52))  #integer
print(type(52.0))  #float
print(type('52')) #string

<class 'int'>
<class 'float'>
<class 'str'>

In [36]:
print(firstname+'Smith')
print(firstname, 'Smith')
print(firstname*5)

LindaSmith
Linda Smith
LindaLindaLindaLindaLinda

In [37]:
print(str(1)+'a')  #need to make 2 variables in the same class; make "1" into a string

1a

In [38]:
print(1+int('2'))

3

In [39]:
print(max(1,2,5,10))

10

In [40]:
print(min(1,2,5,10))

1

In [41]:
print(max(str(1), 'a'))  #the order is 0-9, A-Z, 1-z (small to large); so a > 1

a

In [42]:
print(min(str(1), 'a'))

1

In [45]:
round(3.876532)
round(3.876532, 3)  #round to 3 dicimal places

3.877

In [46]:
a = print('hello')

hello

In [47]:
print(a)

None

In [6]:
1 == 2 #ask if 1 = 2

False

In [49]:
1 < 3

True

In [50]:
a = 1
b = 2
print(a==b)

False

In [51]:
a != b  ## ! is "not"; so != is "not equal"

True

In [52]:
a == b
a != b
a > b  ## will only print the last one

False

In [53]:
print(a == b)
print(a != b)
print(a > b)  ## use "print" will print all

False
True
False

In [55]:
mass = 3.54
if mass > 3.0:
    print(mass, 'is large')
    print('just another line')

3.54 is large
just another line

In [60]:
mass = 2.5
if mass > 3.0:
    print(mass, 'is large')
    print('just another line')
print('yet another line')  ## not in the first level, so will show up

yet another line

In [61]:
3 == 3.0 and type(3) == type(3.0)

False

In [62]:
mass = 2.07
if mass > 3.0:
    print(mass, 'is large')
else:
    print(mass, 'is small')

2.07 is mall

In [63]:
x = 5
if x > 0:
    print(x, 'is positive')
elif x < 0:
    print(x, 'is negative')
else:
    print(x, 'is zero')

5 is positive

In [64]:
grade = 85
if grade >= 70:
    print('grade is C')
elif grade >= 80:
    print('grade is B')
else:
    print('grade is A')   ## wrong order gives wrong results

grade is C

In [67]:
grade = 65
if grade >= 90:
    print('grade is A')
elif grade >= 80:
    print('grade is B')
elif grade >= 70:
    print('grade is C')
else:
    print('grade is D')

grade is D

In [69]:
initial = "left"
position = initial
initial = "right"
position = initial  ## re-assign position
print(position)

right

In [73]:
a = 123
print(str(a)[1])  ## convert "123" into a string

2

## == Lists ==

In [111]:
densities = [0.273, 0.275, 0.277, 0.286]
print('densities =', densities)

densities = [0.273, 0.275, 0.277, 0.286]

In [117]:
print(len(densities))
print(densities[2])  ## print the 2nd values
print(densities[len(densities)-1])
print(densities[-2])   ## the last 2nd element
print(densities[:])  ## from the 1st to the last elements
print(densities[0:2])  ## from 0 to 2 elements; can omit 0 = densities[:2]

4
0.277
0.286
0.277
[0.273, 0.275, 0.277, 0.286]
[0.273, 0.275]

In [79]:
'hello'[1]

'e'

In [86]:
print(densities[:2])  ## same as from 0 = densities[0:2]
print(densities[1:])  ## from 1 to the last one

[0.273, 0.275]

In [88]:
densities[1] = 100  ## change values
print(densities)

[0.273, 100, 0.277]

In [89]:
primes = [2,3,6]
print(primes)

[2, 3, 6]

In [90]:
primes.append(7)   ## append: to add an assigned value to the last
print(primes)

[2, 3, 6, 7]

In [91]:
primes.append(11)   ## append: to add an assigned value to the last
print(primes)

[2, 3, 6, 7, 11]

In [93]:
print('primes befre', primes)
del primes[4]   ## delete the 4th element
print('prime after', primes)

primes befre [2, 3, 6, 7, 11]
prime after [2, 3, 6, 7]

In [94]:
a = [1,2,3, 'hello']
print(a)

[1, 2, 3, 'hello']

In [95]:
a.append(5.5)
print(a)

[1, 2, 3, 'hello', 5.5]

In [107]:
a = []
print(a)

[]

In [108]:
a.append('Vancouver')
a.append('Toronto')
a.append('Kelowna')
print(a)

['Vancouver', 'Toronto', 'Kelowna']

In [118]:
print(len(a))

3

In [109]:
a[0]

'Vancouver'

In [123]:
for number in [2,3,5]:  ## the syntax is ":" for variable collection
    print(number)
print('out of level')
print(number)  ## print only the last one

2
3
5
out of level
5

In [120]:
for i in 'hello':  ## print each collection
    print(i)

h
e
l
l
o

In [122]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [129]:
total = 0
for number in range(10):
    total += number+1
print('total is', total)

total is 55

In [130]:
total = 0
for i in range(1,11):
    total += i
print('the total is', total)

the total is 55

In [132]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [153]:
a = 'computer'
length = len(a)
word = ''
for i in range(length):
    word = word + a[length -i -1]
    print(word)
print('-- final output --')
print(word)

r
re
ret
retu
retup
retupm
retupmo
retupmoc
-- final output --
retupmoc

In [154]:
word = ''
for letter in 'computer':
    word = letter + word
    print(word)

c
oc
moc
pmoc
upmoc
tupmoc
etupmoc
retupmoc

In [155]:
'computer'[::-1]  ##[start:end:-1], -1 means read from the back

'retupmoc'

In [163]:
'hello' [4::-1]

'olleh'

In [169]:
[x for x in range (1,11)]
[x**2 for x in range (1,11)]  ## ** means "power of"

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [168]:
Square = [x**2 for x in range (10,0,-1)]  ## from 10 to 0 in reverse order
print(Square)

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [170]:
for j in Square:
    print(j)

100
81
64
49
36
25
16
9
4
1

In [171]:
[x**2 for x in range(1,11) if x%2==1]  ## when # divided by 2 with remainer = 1

[1, 9, 25, 49, 81]

In [172]:
10%3

1

In [174]:
[x for x in range(1,11) if x%2==0]  ## to compute even numbers, means can be divide by 2 with reaminder = 0

[2, 4, 6, 8, 10]

In [177]:
week = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
weekend = ['Sat', 'Sun']
print(weekend)
print([day for day in week])
print([day for day in week if day not in weekend])

['Sat', 'Sun']
['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
['Mon', 'Tue', 'Wed', 'Thu', 'Fri']

In [178]:
weekdays = [day for day in week if day not in weekend]
for day in weekdays:
    print(day, 'is very long')

Mon is very long
Tue is very long
Wed is very long
Thu is very long
Fri is very long

In [180]:
sum([1,2,3])

6

In [195]:
b = [a**2 for a in range(1,101)]
sum(b)

338350

In [191]:
sum([x**2 for x in range(1,101)])

338350

In [198]:
def greeting():   ## define a function: greeteing()
    print('hello')
greeting()

hello

In [199]:
def greeting(i):   # i is number
    print('hello')
greeting(1)

hello

In [201]:
def printDate(year, month, day):
    jointed = str(year) + '/' + str(month) + '/' + str(day)
    print(jointed)
printDate(2017,3,11)

2017/3/11

In [206]:
def printDate(year, month, day):
    jointed = str(year) + '/' + str(month) + '/' + str(day)
    return jointed
a = printDate(2017,3,11)
print(a)

2017/3/11

In [207]:
print(printDate(2017,3,11))

2017/3/11

In [208]:
def Celsius(f):
    TempC = (f - 32)/1.8
    return TempC
Celsius(77)

25.0

In [209]:
def Fah(c):
    TempF = c*1.8 + 32
    return TempF
Fah(25)

77.0

In [211]:
Celsius(Fah(25))

25.0

In [212]:
a = [1,3,5]
def average(values):
    if len(values) == 0:
        print('the list is empty')
        return None
    return sum(values)/ len(values)

average(a)
print(average(a))

3.0

In [213]:
print(average([]))

the list is empty
None

In [217]:
?len  ## the numer of items in a container
print(len(a))
print(sum(a))

3
9

In [218]:
print(0.1+0.2)

0.30000000000000004

In [ ]:
solve X^3 + 4x^2 - 10 = 0 usig a bi